.tableContainer{
    display: flex;
    flex-wrap: wrap;
}

.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.searchIcon{
    height: 1rem;
    width: 1rem;
    margin: 0 10px;
}

.headerEnd{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.addUserButton{
    display: flex;
    align-items: center;
    background-color: rgb(0,0,139);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.addUserButton:hover{
    background-color:rgb(0,0,100) ;
}

.addUserIcon{
    margin: 0.5rem;
}
.addUser{
    margin: 0.5rem;
}