.tableHeader{
    width: 100vw;
    height: fit-content;
    margin: 0 1rem;
    display: flex;
    background-color: rgb(205, 192, 192);
}

.nameContainer{
    display: flex;
    width:16vw
}
.name{
    margin-left: 1rem;
}

.hItem{
    width:16vw
}
